.gallery {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

.gallery-item {
    width: calc((100% - 3 * 360px) / 2);
}

.gallery-item img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}